img  {
    max-width:80%;
}
body {
    background-color:#121212;
}
h1   {
    color: white;
    font-size:60px;
}
h4   {
    color: white;
}
p    {
    color:white;
}
hr   {
    width:85%;
}
a  {
    color:grey;
}
